html {
    font-size: 16px; /* Set a base font size */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem; /* Use rem for font size */
    background-color: #2c3e50; /* Dark blue background color */
}

.navbar {
    background-color: #34495e; /* Darker grey color */
    color: white;
    padding: 1rem; /* Use rem for padding */
    display: flex;
    justify-content: flex-start; /* Changed to move items to the left */
    gap: 1.25rem; /* Use rem for gap */
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.navbar span {
    margin: 0;
    cursor: pointer;
    font-size: 1rem; /* Use rem for font size */
}

.navbar span a {
    color: white; /* Set resume link color to white */
}

#about {
    background-color: #ecf0f1; /* Light grey color */
    padding: 1.25rem; /* Use rem for padding */
    text-align: center;
}

#about img {
    max-width: 9.375rem; /* Use rem for max-width */
    border-radius: 50%;
    margin-bottom: 1.25rem; /* Use rem for margin-bottom */
}

#about p {
    width: 80%;
    margin: 0 auto; /* Center the paragraph */
}

#project {
    background-color: #bdc3c7; /* Grey color */
    padding: 1.25rem; /* Use rem for padding */
}

#contact {
    background-color: #95a5a6; /* Darker grey color */
    padding: 1.25rem; /* Use rem for padding */
}

#contact a {
    margin-right: 0.3125rem; /* Use rem for margin-right */
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem; /* Use rem for gap */
}

.project-container div {
    background-color: white;
    padding: 0.625rem; /* Use rem for padding */
    border: 1px solid #ccc;
    width: calc(100% - 1.25rem); /* Use rem for width calculation */
    box-sizing: border-box;
}

@media (min-width: 768px) {
    #about p {
        width: 50%;
    }

    .project-container div {
        width: calc(33.333% - 1.25rem); /* Use rem for width calculation */
    }
}

@media (max-width: 767px) {
    .project-container {
        flex-direction: column;
    }

    .project-container div {
        width: 100%;
    }
}

a {
    text-decoration: none; /* Remove underline from links */
}
